html,
body {
  height: 100%; /* Asegura que el cuerpo ocupe toda la altura */
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

main {
  flex: 1; /* El contenido principal ocupará todo el espacio disponible */
}
